<body>

<!-- Entire thing -->
<div class="container d-flex flex-stretch p-5">

  <!-- Container of 2 half-sections -->
  <div class="card flex-row flex-fill border-dark">

    <div class="container card flex-column flex-fill border-dark p-2">
      <bo-rtm></bo-rtm>
      <bo-gcal></bo-gcal>
    </div>

    <div class="container card flex-column flex-fill border-dark p-2">
      <div class="container complice border-dark flex-fill">
        <bo-complice></bo-complice>
      </div>
    </div>
  </div>
</div>

</body>
